.navbar{
	margin-bottom:30px;
	border-radius:0;
	/* border:0; */
  /* background:#353535; */	
}
.navbar-default .navbar-nav>li>a {
  color:#424141;  
  font-family: 'Open Sans', sans-serif;
}
.navbar-default .navbar-brand { 
  color:#424141;
}
.menu { 
  display:none;
}

