.App-header {
	height: 100px;
	background: black;
}

.logo{
	padding: 15px 0;
}
.footer li {
	display: inline;
	padding: 0 30px 0 30px;
	align-items: center;
	color: #b8c0ca;
}
.footer {
	background: black;
	height: 50px;
}
.footer li a:hover {
	color: blue;
}
.not-found {
	text-align: center; 
}
.not-found h1{
	font-size: 150px;
	/* text-indent: 10px; */
	letter-spacing: 100px;
	color: #EB4728;
}
.not-found p {
	letter-spacing: 10px;
	color:cyan;
	font-size:20px;
}
