.home-wrapper {
  margin-top:10px;
}
.home-left-side {
  height: 450px;
}
.home-right-side {
  height: 500px;
}
.input-filter {
  width: 100%;
  font-size: 1.5em;
  height: 2em;
}
.input-filter::placeholder {
  font-size: 14px;
  font-weight: bold;
}