
.article{
  margin: auto;
  height: 800px;
}
.code {
  display: block;
  white-space: pre-wrap;
  background-color: white;
  height: 20%;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 0em;
}

.lectureNotes{
  border-radius: 0;
}

.articleRightBody{

  height: 770px;
  padding: 0vw .6vw;
  margin-top: 1vw;
}

.commentInput{
  margin-bottom: 1vw;
}

#commentInputField{
  height: 2.25em;
  transition: height 2s ease;
  resize: none;
  border-radius: 0;
}
#commentInputField:focus{
  height: 10em;
  transition: height 2s ease;
}